/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 3 version
*/

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter_medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter_regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('../fonts/unbounded_medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

a {
    text-decoration: underline;
    text-underline-offset: 5px;
    -webkit-text-decoration-color: rgba(0, 122, 255, 0.2);
            text-decoration-color: rgba(0, 122, 255, 0.2);
    color: #007aff;
}

a:focus,
a:hover,
a:active {
    -webkit-text-decoration-color: #007aff;
            text-decoration-color: #007aff;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4 {
    font-family: "Unbounded", "Helvetica", "Arial", sans-serif;
}

.btn {
    position: relative;

    display: inline-block;
    padding: 16px 24px;

    font-family: "Inter", "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    color: #202020;

    background: 0 0;
    border: none;
    border-radius: 12px;

    cursor: pointer;
    vertical-align: middle;
}

.btn:not(:focus) {
    outline: none;
}

.btn:focus,
.btn:hover,
.btn:link:hover {
    text-decoration: none;
}

.btn--default {
    color: #ffffff;

    background-color: #ff2b6b;
    background-image: -o-linear-gradient(315deg, #ff2b6b 0%, #ff004d 100%);
    background-image: linear-gradient(135deg, #ff2b6b 0%, #ff004d 100%);
}

.btn--default:focus,
.btn--default:hover,
.btn--default:active {
    color: #ffffff;

    background-color: #fc1d60;
    background-image: -o-linear-gradient(315deg, #fc1d60 0%, #f50049 100%);
    background-image: linear-gradient(135deg, #fc1d60 0%, #f50049 100%);
}

.container {
    max-width: 848px;
    min-width: 320px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 16px;
    padding-left: 16px;
}

.page {
    font-family: "Inter", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #202020;

    background-color: #FFFFFF;
}

.page-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.page-header {
    padding-top: 12px;
    padding-bottom: 12px;
}

.main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 10px;
}

.site-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 6px;
       -moz-column-gap: 6px;
            column-gap: 6px;

    font-family: "Unbounded", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    color: #202020;
}

.site-logo:not([href]) {
    cursor: default;
}

.site-logo img {
    width: 28px;
    height: 28px;
}

.main-nav__link {
    font-size: 15px;
    line-height: 20px;
}

.page-main {
    padding-top: 16px;
    padding-bottom: 60px;
}

.promo__header {
    margin-bottom: 40px;
}

.promo__title {
    margin: 0;
    padding: 0;

    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
}

.promo__caption {
    margin: 0;
    padding: 0;

    line-height: 20px;
}

.promo__main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 16px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 56px 16px;
    margin-bottom: 48px;
}

.promo__option {
    margin: 0;
    padding: 0;
}

.promo__option img {
    margin-bottom: 4px;

    vertical-align: bottom;
}

.promo__picture {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-column-align: center;
        justify-self: center;
}

.promo__picture img {
    border: 9px solid #000000;
    border-radius: 32px;
}

.promo__footer {
    text-align: center;
}

.page-footer {
    padding-top: 16px;
    padding-bottom: 16px;

    font-size: 15px;
    line-height: 20px;
}

.page-footer__copyrights {
    margin: 0;
    padding: 0;
}

.page-footer__link {
    font-size: 15px;
    line-height: 20px;
}

@media (max-width: 767px) {
    .promo__title {
        margin-bottom: 12px;
    }

    .promo__btn {
        display: block;
    }

    .page-footer__copyrights {
        margin-bottom: 4px;
    }
}

@media (min-width: 360px) {
    .promo__option img {
        margin-bottom: 6px;
    }
}

@media (min-width: 768px) {
    .container {
        padding-right: 24px;
        padding-left: 24px;
    }

    .site-logo img {
        width: 32px;
        height: 32px;
    }

    .promo__header {
        margin-bottom: 88px;
    }

    .promo__title {
        display: inline;

        font-size: 92px;
        line-height: 80px;
    }

    .promo__caption {
        display: inline-block;
        max-width: 200px;
        margin-left: 12px;
        padding-bottom: 5px;

        font-size: 13px;
        font-weight: 500;
        line-height: 18px;

        vertical-align: bottom;
    }

    .promo__main {
        -ms-grid-columns: 1fr 0 320px 0 1fr;
        grid-template-columns: 1fr 320px 1fr;
        -ms-grid-rows: 1fr 0 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0;
    }

    .promo__main > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .promo__main > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .promo__main > *:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
    }

    .promo__main > *:nth-child(4) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .promo__main > *:nth-child(5) {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }

    .promo__main > *:nth-child(6) {
        -ms-grid-row: 3;
        -ms-grid-column: 5;
    }

    .promo__picture {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2 / 3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        grid-row: 1 / 3;
    }

    .promo__option {
        max-width: 169px;
    }

    .promo__option img {
        margin-bottom: 8px;
    }

    .promo__option--diagram {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1 / 2;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1 / 2;
        -ms-grid-column-align: end;
            justify-self: end;
        -ms-grid-row-align: end;
            align-self: end;
        margin-right: 32px;
        margin-bottom: 68px;
    }

    .promo__option--diagram figcaption {
        max-width: 128px;
    }

    .promo__option--points {
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        grid-column: 3 / 4;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-row: 2 / 3;
        -ms-grid-column-align: start;
            justify-self: start;
        -ms-grid-row-align: start;
            align-self: start;
        margin-top: 68px;
        margin-left: 32px;
    }

    .promo__btn {
        min-width: 320px;
    }

    .page-footer__inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        gap: 10px;
    }
}

@media (min-width: 1280px) {
    .page-main {
        padding-top: 16px;
        padding-bottom: 104px;
    }
}
